/* Imports
======================================= */
@import (less) '../libs/normalize.css';
@import '../libs/grid.less';
@import 'mixins';
//@import (less) '../libs/flexslider/flexslider.css';
//@import (less) "../libs/magnific-popup/magnific-popup.css";



/* Variables
======================================= */
@column-width: 60;
@gutter-width: 20;
@columns: 12;
@total-width: 100%;
@blue: #0090FF;



/* General
======================================= */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html { overflow-y: scroll; }
a {
	color: #007CBD; text-decoration: none;
	&:hover { opacity: 0.8; }
}
strong, b { font-weight: 700; }
em, i { font-style: italic; }
img { max-width: 100%; height: auto; }
.fl { float: left; }
.fr { float: right; }
.clear, .clearer { clear: both; }
.clearfix:after { display: table; content: ' '; clear: both; };
.inline-block { display: inline-block; /* ie7 fix */ *display: inline; *zoom: 1; }
.clearfix:after, .container:after { display: table; content: ''; clear: both; }
.hide { visibility: hidden; display: none; }
img { max-width: 100%; height: auto; }
.aligncenter { display: block; margin: 5px auto; }
.alignleft { float: left; margin: 5px 20px 20px 0px; }
.alignright { float: right; margin: 5px 0px 20px 20px; }
.wp-caption { max-width: 100%; }
.wp-caption-text { width: auto; }
.gallery-caption { width: auto; }
.sticky { width: auto; }
.bypostauthor { width: auto; }


/* Typography
======================================= */
html, body { color: #333; font: 400 100%/1.5 Helvetica, Arial, sans-sefif; word-wrap: break-word; }
h1, h2, h3, h4, h5, h6, p, ul, ol { margin: 0px 0px 16px 0px; margin-bottom: 1rem; }
h1 { .font-size(48); }
h2 { .font-size(36); }
h3 { .font-size(24); }
h4 { .font-size(18); }
h5 { .font-size(16); }
h6 { .font-size(16); }
p { .font-size(16); }
ul, ol {}
blockquote { 
	font-style: italic; font-weight: 300; padding-left: 75px; position: relative;
	&:before {
		color: #eee; content: '\201C'; font-size: 140px; font-weight: 400; line-height: .8; padding-right: 25px;
		position: absolute; left: -15px; top: -3px; 
	}
}



/* Layout
======================================= */
.container { width: 90%; max-width: 980px; margin: 0 auto; }
.page-header { .clearfix(); }
.page-content { .container(); .clearfix(); }
.page-footer { .clearfix(); } 
.header-container { .column(12); }
.footer-container { .column(12); }
.primary { .column(9); 
	&.full { .column(12); }
}
.secondary { .column(3); }



/* Header
======================================= */
.page-header { background: @blue; .clearfix(); }
.site-name {
	color: #fff;
	&:hover { text-decoration: none; }
}



/* Navigation
======================================= */
#mobile-nav-btn { display: none; }
.main-menu {
	ul { list-style: none; padding: 0px; margin: 0px; }
	li { display: inline; }  
	a { background: #fff; color: #333; .inline-block(); padding: 10px; text-decoration: none; }
	a:hover{ opacity: 0.8; };
	.current_page_item a,
	.current-menu-item a {  }
	.current_page_ancestor a,
	.current-page-ancestor a {  }
}
.pagination {
	.clearfix();
	.older-posts-link { float: left; }
	.newer-posts-link{ float: right; }
}



/* Comments
======================================= */
.commentlist { padding: 0px; list-style: none; 
	ol { list-style: none; padding-left: 20px; }
}
.comment { 
	.comment-body{ background: #f3f3f3; padding: 10px; margin-bottom: 10px; }
	&.byuser > .comment-body { background: #C1E8F4; }
	.comment-awaiting-moderation { color: orange; }
}
#commentform {
	label { display: block; }
	input, textarea { max-width: 400px; width: 100%; }
	textarea { height: 140px; }
	input[type="submit"] { width: auto; }
}



/* Forms
======================================= */
input { max-width: 100%; padding: 6px; border: 1px solid #aaa; }
input[type="submit"] {  }
input[type="submit"]:hover { opacity: 0.8; }



/* Gallery
======================================= */
.gallery {
	.gallery-item { float: left; text-align: center; }
	.gallery-caption { margin: 0px; }
}
.gallery-columns-1 .gallery-item { .wp-gallery-columns(1); }
.gallery-columns-2 .gallery-item { .wp-gallery-columns(2); }
.gallery-columns-3 .gallery-item { .wp-gallery-columns(3); }
.gallery-columns-4 .gallery-item { .wp-gallery-columns(4); }
.gallery-columns-5 .gallery-item { .wp-gallery-columns(5); }
.gallery-columns-6 .gallery-item { .wp-gallery-columns(6); }
.gallery-columns-7 .gallery-item { .wp-gallery-columns(7); }
.gallery-columns-8 .gallery-item { .wp-gallery-columns(8); }
.gallery-columns-9 .gallery-item { .wp-gallery-columns(9); }
.wp-gallery-columns( @columnsCount ) { width: ( 100% / @columnsCount ); }



/* Footer
======================================= */
.page-footer {
	background: #333; color: #fff;
}


/* Animations
======================================= */
a, input[type="submit"] {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}



/* Media queries
======================================= */
@media screen and (max-width:62.5em) { // max-width: 1000px
	// Layout	
	.primary { .column(12); }
	.secondary { .column(12); }
	
	// Navigation
	.js #mobile-nav-btn {
		background: #fff; width: 42px; padding: 2px; display: block; float: right;
		span { height: 5px; margin: 5px; display: block; background: #333; }
	}
	.js .main-menu { max-height: 0px; clip: rect(0 0 0 0); zoom: 1; }
	.main-menu {
		overflow: hidden; width: 100%;
		&.opened { max-height: 9999px; }
		a { width: 100%; }
	}
}



/* Print
======================================= */
@media print {

}