article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
body{width:100%;*zoom:1}body:before,body:after{content:"";display:table}
body:after{clear:both}
.inline-block{display:inline-block;*display:inline;*zoom:1}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{overflow-y:scroll}
a{color:#007cbd;text-decoration:none}a:hover{opacity:.8}
strong,b{font-weight:700}
em,i{font-style:italic}
img{max-width:100%;height:auto}
.fl{float:left}
.fr{float:right}
.clear,.clearer{clear:both}
.clearfix:after{display:table;content:' ';clear:both}
.inline-block{display:inline-block;*display:inline;*zoom:1}
.clearfix:after,.container:after{display:table;content:'';clear:both}
.hide{visibility:hidden;display:none}
img{max-width:100%;height:auto}
.aligncenter{display:block;margin:5px auto}
.alignleft{float:left;margin:5px 20px 20px 0}
.alignright{float:right;margin:5px 0 20px 20px}
.wp-caption{max-width:100%}
.wp-caption-text{width:auto}
.gallery-caption{width:auto}
.sticky{width:auto}
.bypostauthor{width:auto}
html,body{color:#333;font:400 100%/1.5 Helvetica,Arial,sans-sefif;word-wrap:break-word}
h1,h2,h3,h4,h5,h6,p,ul,ol{margin:0 0 16px 0;margin-bottom:1rem}
h1{font-size:48px;font-size:3rem}
h2{font-size:36px;font-size:2.25rem}
h3{font-size:24px;font-size:1.5rem}
h4{font-size:18px;font-size:1.125rem}
h5{font-size:16px;font-size:1rem}
h6{font-size:16px;font-size:1rem}
p{font-size:16px;font-size:1rem}
blockquote{font-style:italic;font-weight:300;padding-left:75px;position:relative}blockquote:before{color:#eee;content:'\201C';font-size:140px;font-weight:400;line-height:.8;padding-right:25px;position:absolute;left:-15px;top:-3px}
.container{width:90%;max-width:980px;margin:0 auto}
.page-header{*zoom:1}.page-header:before,.page-header:after{content:"";display:table}
.page-header:after{clear:both}
.page-content{width:90%;max-width:980px;margin:0 auto;*zoom:1}.page-content:before,.page-content:after{content:"";display:table}
.page-content:after{clear:both}
.page-footer{*zoom:1}.page-footer:before,.page-footer:after{content:"";display:table}
.page-footer:after{clear:both}
.header-container{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%}
.footer-container{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%}
.primary{display:inline;float:left;width:72.91666666666666%;margin:0 1.0416666666666665%}.primary.full{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%}
.secondary{display:inline;float:left;width:22.916666666666664%;margin:0 1.0416666666666665%}
.page-header{background:#0090ff;*zoom:1}.page-header:before,.page-header:after{content:"";display:table}
.page-header:after{clear:both}
.site-name{color:#fff}.site-name:hover{text-decoration:none}
#mobile-nav-btn{display:none}
.main-menu ul{list-style:none;padding:0;margin:0}
.main-menu li{display:inline}
.main-menu a{background:#fff;color:#333;display:inline-block;*display:inline;*zoom:1;padding:10px;text-decoration:none}
.main-menu a:hover{opacity:.8}
.pagination{*zoom:1}.pagination:before,.pagination:after{content:"";display:table}
.pagination:after{clear:both}
.pagination .older-posts-link{float:left}
.pagination .newer-posts-link{float:right}
.commentlist{padding:0;list-style:none}.commentlist ol{list-style:none;padding-left:20px}
.comment .comment-body{background:#f3f3f3;padding:10px;margin-bottom:10px}
.comment.byuser>.comment-body{background:#c1e8f4}
.comment .comment-awaiting-moderation{color:#ffa500}
#commentform label{display:block}
#commentform input,#commentform textarea{max-width:400px;width:100%}
#commentform textarea{height:140px}
#commentform input[type="submit"]{width:auto}
input{max-width:100%;padding:6px;border:1px solid #aaa}
input[type="submit"]:hover{opacity:.8}
.gallery .gallery-item{float:left;text-align:center}
.gallery .gallery-caption{margin:0}
.gallery-columns-1 .gallery-item{width:100%}
.gallery-columns-2 .gallery-item{width:50%}
.gallery-columns-3 .gallery-item{width:33.333333333333336%}
.gallery-columns-4 .gallery-item{width:25%}
.gallery-columns-5 .gallery-item{width:20%}
.gallery-columns-6 .gallery-item{width:16.666666666666668%}
.gallery-columns-7 .gallery-item{width:14.285714285714286%}
.gallery-columns-8 .gallery-item{width:12.5%}
.gallery-columns-9 .gallery-item{width:11.11111111111111%}
.page-footer{background:#333;color:#fff}
a,input[type="submit"]{-webkit-transition:all .4s;-moz-transition:all .4s;-ms-transition:all .4s;-o-transition:all .4s;transition:all .4s}
@media screen and (max-width:62.5em){.primary{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%} .secondary{display:inline;float:left;width:97.91666666666666%;margin:0 1.0416666666666665%} .js #mobile-nav-btn{background:#fff;width:42px;padding:2px;display:block;float:right}.js #mobile-nav-btn span{height:5px;margin:5px;display:block;background:#333} .js .main-menu{max-height:0;clip:rect(0 0 0 0);zoom:1} .main-menu{overflow:hidden;width:100%}.main-menu.opened{max-height:9999px} .main-menu a{width:100%}}@media print{}
