/* FONTS */

/* WP GENERATED CLASSES */
.aligncenter { }
.alignleft { }
.alignright { }
.wp-cation { }
.wp-caption-text { }
.gallery-caption { }
.sticky { }
.bypostauthor { }

/* GENERAL */
html, body {  }
h1, h2, h3, h4, h5, h6 {}
h1 {  }
h2 {  }
h3 {  }
h4 {  }
h5 {  }
h6 {  }
.fl { float: left; }
.fr { float: right; }
.clear, .clearer { clear: both; }